<!DOCTYPE html>
<html>
  <head>
    <title>RunnersDB</title>
    <link rel="icon" type="image/png" href="../public/img/runner.png">
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../public/css/draw_route.css">
    <link rel="stylesheet" type="text/css" href="../public/css/view_route.css">
    <script src="https://www.google.com/jsapi"></script>
  </head>
  <body>
    <p><a href="../browse">&lt;Back to Browse</a></p>
    <p id="server_message"><%= msg%></p>
    <h1><%= route_name%></h1>
    <% var authorLink = '../user/' + username; %>
    <p id="author">by <a href="<%= authorLink%>"><%= username%></a></p>
    <form action="" method="post">
      <input id="save_route" type="submit" name="save_route" value="Save Route">
    </form>
    <p>Distance: <%= distance%> km</p>
    <p>Elevation: <%= elevation%> m</p>
    <p id="init_lat"><%= initLat%></p>
    <p id="init_lng"><%= initLng%></p>
    <p id="init_path"><%= initPath%></p>
    <input id="path" name="path" type="text" value="[]">
    <input id="avgLat" type="text" name="avgLat" value="">
    <input id="avgLng" type="text" name="avgLng" value="">
    <input id="dist" type="text" name="dist" value="">
    <input id="elevChange" name="elevChange" type="text" value="">
      <ul id="ratings_container">
        <% var ratingToStars = function (rating) {
  var stars = '';
  for (var i = 0; i < 5; i++) {
    if (i < rating) {
      stars += '★';
    } else {
      stars += '☆';
    }
  }
  return stars;
} %>
        <li>Difficulty: <%= ratingToStars(avgDifficulty)%></li>
        <li>Safety: <%= ratingToStars(avgSafety)%></li>
        <li>Scenery: <%= ratingToStars(avgScenery)%></li>
      </ul>
    <hr/>
    <div id="route_drawer">
      <div id="search_bar">
        <input id="text_input" type="text" placeholder="Jump to a location">
      </div>
      <div id="distance_display">0 km<hr>0 mi</div>
      <div id="undo_button">
        <button onclick="deleteLastMarker()">Undo</button>
      </div>
      <div id="clear_all">
        <button onclick="clearAllMarkers()">Clear Route</button>
      </div>
      <div id="show_elevation">
        <button onclick="showElevation()">Show Elevation</button>
      </div>
      <div id="map">maps error</div>
      <div id="elevation_chart">test</div>
    </div>
    <button onclick="showReviews()">Show Reviews</button>
    <button onclick="toggleNewReview()">Add a Review</button>
    <div id="new_review_container" style="display: none;">
      <hr/>
      <p>Difficulty: <br/>
      1 <input type="radio" name="difficulty" value="1" required>
      <input type="radio" name="difficulty" value="2">
      <input type="radio" name="difficulty" value="3">
      <input type="radio" name="difficulty" value="4">
      <input type="radio" name="difficulty" value="5"> 5
      <br/>
      Safety: <br/>
      1 <input type="radio" name="safety" value="1" required>
      <input type="radio" name="safety" value="2">
      <input type="radio" name="safety" value="3">
      <input type="radio" name="safety" value="4">
      <input type="radio" name="safety" value="5"> 5
      <br/>
      Scenery: <br/>
      1 <input type="radio" name="scenery" value="1" required>
      <input type="radio" name="scenery" value="2">
      <input type="radio" name="scenery" value="3">
      <input type="radio" name="scenery" value="4">
      <input type="radio" name="scenery" value="5"> 5
      </p>
      <p>Comment/Description: <input id="comment" type="text" name="comment" value=""></p>
      <button onclick="submitReview()">Submit Review</button>
      <p id="error_message"></p>
      <hr/>
    </div>
    <ul id="reviews_container">

    </ul>
    <button id="prev_button" onclick="prevPage()" style="display: none;">Previous</button>
    <button id="next_button" onclick="nextPage()" style="display: none;">Next</button>
    <script type="text/javascript" src="../public/js/view_route.js"></script>
    <script type="text/javascript" src="../public/js/draw_route.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXvHQwe44-dcP4-8-b90Ly2ut4LWbb4ug&libraries=places&callback=initialize"></script>
  </body>
</html>