<!DOCTYPE html>
<html>
  <head>
    <title>RunnersDB</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <script src="https://www.google.com/jsapi"></script>
  </head>
  <body>
    <p><%= msg%></p>
    <p>Route Name: <%= route_name%></p>
    <p>Submitted by User: <%= username%></p>
    <p>Distance: <%= distance%> km</p>
    <p>Max Elevation Change: <%= elevation%> m</p>
    <p id="init_lat"><%= initLat%></p>
    <p id="init_lng"><%= initLng%></p>
    <p id="init_path"><%= initPath%></p>
    <input id="path" name="path" type="text" value="[]">
    <input id="avgLat" type="text" name="avgLat" value="">
    <input id="avgLng" type="text" name="avgLng" value="">
    <input id="dist" type="text" name="dist" value="">
    <input id="elevChange" name="elevChange" type="text" value="">
    <div id="route_drawer">
      <div id="search_bar">
        <input id="text_input" type="text" placeholder="Jump to a location">
      </div>
      <div id="distance_display">0 km<hr>0 mi</div>
      <div id="undo_button">
        <button onclick="deleteLastMarker()">Undo</button>
      </div>
      <div id="clear_all">
        <button onclick="clearAllMarkers()">Clear Route</button>
      </div>
      <div id="show_elevation">
        <button onclick="showElevation()">Show Elevation</button>
      </div>
      <div id="map">maps error</div>
      <div id="elevation_chart">test</div>
    </div>
    <script type="text/javascript" src="../draw_route.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXvHQwe44-dcP4-8-b90Ly2ut4LWbb4ug&libraries=places&callback=initialize"></script>
  </body>
</html>