<!DOCTYPE html>
<html>
  <head>
    <title>RunnersDB</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../public/css/view_user.css">
  </head>
  <body>
    <p>Username: <%= username%></p>
    <p>Routes Created:</p>
    <ul>
	<% for(var i=0; i<routeNames.length; i++) {%>
    <li><a href="../route/<%= routeIds[i]%>"><%= routeNames[i] %></a></li>
	<% } %>
	</ul>
	<p>Saved Routes:</p>
	<ul>
	<% for(var i=0; i<savedRouteNames.length; i++) {%>
	<li><a href="../route/<%= savedRouteIds[i]%>"><%= savedRouteNames[i] %></a></li>
	<% } %>
	</ul>
  </body>
</html>